<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-info">
            <h4 class="card-title">Material Dashboard Heading</h4>
            <p class="card-category">Created using Roboto Font Family</p>
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <h2>Fixtures</h2>
                </div>
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="Group stage">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Match Number
                                    </th>
                                    <th colspan="5">
                                        Match Details
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        More details
                                    </th>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let group of groupStageFixture">
                                        <tr class="card-shadow">
                                            <td class="tie-number">
                                                <div> {{group.matchNumber}} </div>
                                            </td>
                                            <td>
                                                <div class="card-icon">
                                                    <img class="images" src="{{getLogo(group.team1)}}" />
                                                </div>
                                            </td>
                                            <td class="tie-details">
                                                {{group.team1}}
                                            </td>
                                            <td class="tie-details">
                                                {{group.score}}
                                            </td>
                                            <td class="tie-details">
                                                {{group.team2}}
                                            </td>
                                            <td>
                                                <div class="card-icon">
                                                    <img class="images" src="{{getLogo(group.team2)}}" />
                                                </div>
                                            </td>
                                            <td>
                                                {{group.status}}
                                            </td>
                                            <td>
                                                <button (click)="showInput(group.matchNumber)"> show</button>
                                                <button (click)="hideDetails()"> Hide</button>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let game of group.matchDetails" id="{{group.matchNumber}}">
                                            <td colspan="8" class="details-tr" *ngIf="showDetails === group.matchNumber">
                                                <div class="row more-details">
                                                    <div class="col-lg-1">
                                                        {{game.category}}
                                                    </div>
                                                    <div class="col-lg-* padding-right-24">
                                                        {{game.team1Players}}
                                                    </div>
                                                    <div class="col-lg-* padding-right-24">
                                                        {{game.team1Score}}
                                                    </div>
                                                    <div class="col-lg-* padding-right-24">
                                                        -
                                                    </div>
                                                    <div class="col-lg-* padding-right-24">
                                                        {{game.team2Score}}
                                                    </div>
                                                    <div class="col-lg-* padding-right-24">
                                                        {{game.team2Players}}
                                                    </div>
                                                </div> 
                                            </td>                                       
                                        </tr>
                                     </ng-container>
                                </tbody>
                            </table>
                            <app-group-stage-fixture></app-group-stage-fixture>
                        </div>
                    </mat-tab>
                    <mat-tab label="KnockOut stage">Content 2</mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
