.card-icon {
    padding: 4px !important;
}

.images {
    width: 64px;
}

.stats {
    font-weight: 600;
    font-size: 14px;
    width: 100%;
}

.score_label {
    padding-left: 15px;
}

.score_split {
    padding-left: 8px;
}

.score {
    position: absolute;
    right: 15px;
}