<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" *ngFor="let eachGroup of teamProfile">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">{{eachGroup.groupName}}</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Logo
                                    </th>
                                    <th>
                                        Team name
                                    </th>
                                    <th>
                                        Nick name
                                    </th>
                                    <th>
                                        Played
                                    </th>
                                    <th>
                                        Won
                                    </th>
                                    <th>
                                        Lost
                                    </th>
                                    <th>
                                        TMW
                                    </th>
                                    <th>
                                        TML
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let group of eachGroup.groupDetails">
                                        <td>
                                            <img class="images" src="{{group.urlLogo}}" />
                                        </td>
                                        <td class="padding-td">
                                            {{group.teamName}}
                                        </td>
                                        <td class="padding-td">
                                            {{group.nickName}}
                                        </td>
                                        <td class="padding-td">
                                            {{group.played}}
                                        </td>
                                        <td class="padding-td">
                                            {{group.won}}
                                        </td>
                                        <td class="padding-td">
                                            {{group.lost}}
                                        </td>
                                        <td class="padding-td">
                                            {{group.trumpWon}}
                                        </td>
                                        <td class="padding-td">
                                            {{group.trumpLost}}
                                        </td>
                                        <td class="text-primary padding-td">
                                            {{group.totalPoints}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>