<div class="main-content">
  <mat-tab-group class="background_color" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="First"> </mat-tab>
    <mat-tab label="Second"> </mat-tab>
    <mat-tab label="Third"> </mat-tab>
    <mat-tab label="Four"> </mat-tab>
    <mat-tab label="Five"></mat-tab>
    <mat-tab label="Six"> </mat-tab>
    <mat-tab label="Seven"></mat-tab>
    <mat-tab label="Eigth"> </mat-tab>
    <mat-tab label="Nine">  </mat-tab>
    <mat-tab label="Ten"> </mat-tab>
    <mat-tab label="Eleven">  </mat-tab>
    <mat-tab label="Twelve">  </mat-tab>
    <mat-tab label="Thirteen">  </mat-tab>
    <mat-tab label="Fourteen"> </mat-tab>
    <mat-tab label="Fifteen"> </mat-tab>
    <mat-tab label="Sixteen">  </mat-tab>
  </mat-tab-group>
  <div *ngIf="teamProfile" class="padding-top-15">{{teamProfile.teamName}}</div>
  <div class="container-fluid padding-top" *ngIf="teamProfile">
    <div class="row"> 
      <div class="col-md-2" *ngFor="let eachPlayer of teamProfile.teamProfile">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="{{eachPlayer.profileLogo}}" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{eachPlayer.userName}}</h4>
            <!-- <h6 class="card-category text-gray">{{eachPlayer.gameLevel}}</h6> -->
            <!-- <div class="stats row">
              <div class="score_label">
                Score
              </div>
              <div class="score_split">
                <a href="javascript:void(0)">{{eachPlayer.score}}</a>
              </div>
              <div class="score">
                22
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>